*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.xdv
auto/
photos/
photo.*
submitted/
dist/
*.tar.bz2
resume-en.pdf
resume-zh.pdf
.vscode/settings.json
*.zip
OpenType/
SourceHan*/
fontaw*
resume-zh.synctex.gz
